* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}
.card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 300px;
  height: 450px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.05);
}
.card h3,
.card h2 {
  text-align: center;
  padding: 10px 0;
}
.card img {
  width: 100%;
  height: 300px;
}
