.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #19199f;
}
.header .logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
.header .nav .ul {
  display: flex;
  gap: 20px;
  color: #fff;
  font-size: 22px;
}
.header .nav .ul li {
  cursor: pointer;
}
.header .nav .ul li:hover {
  color: red;
}
