.dark {
  background-color: black;
  color: white;
}

.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
#quti {
  width: 400px;
  height: 400px;
  background-color: red;
}

#box {
  width: 400px;
  height: 400px;
  border: 2px solid red;
}
