@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(./login\ page\ bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}
.container {
  width: 350px;
  height: 400px;
  border-radius: 30px;
  background: transparent;
  backdrop-filter: blur(15px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  padding: 70px 50px;
  margin: 100px auto;
}
h1 {
  text-align: center;
  margin-top: -20px;
  margin-bottom: 20px;
  color: aliceblue;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form .email,
.password {
  width: 250px;
  height: 40px;
  outline: none;
  background-color: rgb(230, 240, 240);
  border: none;
  padding: 0 8px;
  border-radius: 8px;
}
form div:nth-child(2) {
  position: relative;
}
form div:nth-child(2) i {
  position: absolute;
  top: 12px;
  right: 8px;
  cursor: pointer;
}
/* form div:nth-child(2) i:hover {
  width: 25px;
  height: 25px;
  background-color: #9b8d8dc8;
} */
.checkbox label {
  display: flex;
  align-items: center;
  gap: 5px;
  color: aliceblue;
}
label input {
  width: 20px;
  height: 15px;
}
.btn {
  text-align: center;
  margin: 20px 0;
}
.login-btn {
  width: 200px;
  height: 40px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: rgb(46, 46, 255);
  box-shadow: 0 3px 8px rgb(57, 57, 244);
  color: #fff;
}
.login-btn:hover {
  box-shadow: 0 4px 8px rgb(49, 49, 175);
  transition: 0.4s ease;
  transform: scale(1.02);
}
.notif {
  position: fixed;
  top: 20px;
  right: 20px;
  min-width: 250px;
  padding: 20px;
  background: red;
  border-radius: 10px;
  color: #fff;
  display: none;
  z-index: 999;
  font-size: 18px;
  animation: notified 3.5s ease-in-out forwards;
}
@keyframes notified {
  0% {
    transform: translateX(400px);
    opacity: 0;
  }
  15% {
    transform: translateX(0);
    opacity: 1;
  }
  85% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(400px);
    opacity: 0;
  }
}
